@use "../variables" as *;
@use "../mixins" as *;

.content {
  flex-grow: 2;
  position: relative;
  @include break(xs) {
    display: block;
  }
  @include break(xl) {
    display: grid;
    grid-template-columns: auto 2fr auto;
    grid-template-areas: "side-menu" "middle" "knowledge-base";
    grid-template-rows: 1fr;
  }
}

.middle {
  display: flex;
  justify-content: center;
  @include break(xs) {
    width: 100vw;
  }
  @include break(xl) {
    grid-area: "middle";
  }
}

